<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/utils.css">
  <link rel="stylesheet" href="../css/template.css">
  <link rel="shortcut icon" href="../imagens/logo.svg" type="image/x-icon">
  <title>Metal</title>
</head>
<body>
  <header>
    <nav>
      <a href="../index.html"><img src="../imagens/logo.svg" alt="logo">RECICLAGEM</a>
        <ul>
          <li><a href="lampadas.html">Vidro</a></li>
          <li><a href="baterias.html">Metal</a></li>
          <li><a href="papeis.html">Papéis e Papelão</a></li>
          <li><a href="plastico.html">Plástico</a></li>
        </ul>
        <div class="icons">
          <img src="../imagens/hambuguer.svg" alt="abrir menu" class="abrir">
          <img src="../imagens/close.svg" alt="fechar menu" class="fechar">
        </div>
    </nav>
    <div id="menu" class="toggle-menu">
      <ul>
        <li><a href="lampadas.html">Vidro</a></li>
        <li><a href="baterias.html">Metal</a></li>
        <li><a href="papeis.html">Papéis e Papelão</a></li>
        <li><a href="plastico.html">Plástico</a></li>
      </ul>
    </div>
    <div class="hero">
      <div class="hero-descricao">
        <h1>RECICLAGEM DO <br> METAL</h1>
      </div>
      <div class="hero-imagem hero-imagem-metal">
        <img src="../imagens/metal.svg" alt="lixeira bateria">
      </div>
    </div>
  </header>

  <main>
    <section id="porque-reciclar">
      <div class="reciclar-titulo">
        <h1>POR QUE RECICLAR?</h1>
        <p>A importância da reciclagem do metal tem como principal objetivo não deixar que esse material vá para natureza e 
		também que fique acumulado em aterros, pois seu tempo de decomposição é muito grande (chegando a demorar cerca de 100 para decompor, e se for alumínio o tempo pode chegar até 200 anos).
		Sua decomposição também pode ser muito prejudicial para o ambiente, liberando gases tóxicos na atmosfera, ou até mesmo chegando a poluir lençóis freáticos, vegetais e animais. 
		Isso chega até ser perigoso para nós mesmos, uma vez que nosso organismo não metaboliza tais materiais, acarretando problemas no sistema nervoso, em nossos órgãos e também podendo provocar câncer. 
		</br>
		</br>
		Outro tópico que podemos levar em consideração para a importância de reciclar o metal, é que existem alguns metais que não oxidam, consequentemente eles também não se decompõem. 
		Diante de tudo isso, a vantagem de reciclar os metais é que os metais reciclados mantêm praticamente a maioria das características do metal comum, 
		e também pode ser reciclado diversas vezes mantendo ainda assim suas características.
        </p>
      </div>
      <div class="beneficios-titulo">
        <h1>PROCESSOS DE RECICLAGEM</h1>
        <p>Antes de começar o processo de reciclagem temos que prestar atenção em quais coisas podemos colocar para a reciclagem e quais não são possíveis de reciclar, 
		por meio da reutilização do material, ainda assim podemos encontrar outras formas de utilizá-los-los ao invés de descarta-los. O grupo dos únicos que não podem ser reciclados contém: clipes, 
		grampos, esponjas de aço, latas de tinta e de combustível.
		</br>
		</br>
		Temos diversos metais diferentes que são coletados, por isso, a primeira fase da reciclagem consiste na separação de cada tipo de metal presente,
		uma vez que cada um tem que ter o seu próprio processo de reciclagem. Nessa etapa também são separados os metais de outros resíduos e impurezas. Depois os metais são triturados, 
		com o intuito de facilitar o próximo processo, que seria o processo onde o material é derretido. Com isso, a parte final da reciclagem do metal é basicamente sobre moldar os metais em uma forma e enviá-los para as fábricas como matérias-primas.
        </p>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-logo">
      <a href="baterias.html"><img src="../imagens/logo.svg" alt="logo">RECICLAGEM</a>
    </div>
    <div class="footer-direitos">Todos direitos reservados desde 2021</div>
  </footer>
  <script src="../script.js"></script>
</body>
</html>