<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/utils.css">
  <link rel="stylesheet" href="../css/template.css">
  <link rel="shortcut icon" href="../imagens/logo.svg" type="image/x-icon">
  <title>Vidro</title>
</head>
<body>
  <header>
    <nav>
      <a href="../index.html"><img src="../imagens/logo.svg" alt="logo">RECICLAGEM</a>
        <ul>
          <li><a href="lampadas.html">Vidro</a></li>
          <li><a href="baterias.html">Metal</a></li>
          <li><a href="papeis.html">Papéis e Papelão</a></li>
          <li><a href="plastico.html">Plástico</a></li>
        </ul>
        <div class="icons">
          <img src="../imagens/hambuguer.svg" alt="abrir menu" class="abrir">
          <img src="../imagens/close.svg" alt="fechar menu" class="fechar">
        </div>
    </nav>
    <div id="menu" class="toggle-menu">
      <ul>
        <li><a href="lampadas.html">Vidro</a></li>
        <li><a href="baterias.html">Metal</a></li>
        <li><a href="papeis.html">Papéis e Papelão</a></li>
        <li><a href="plastico.html">Plástico</a></li>
      </ul>
    </div>
    <div class="hero">
      <div class="hero-descricao">
        <h1>RECICLAGEM DO<br>VIDRO</h1>
      </div>
      <div class="hero-imagem">
        <img src="../imagens/vidro.svg" alt="lixeira vidro">
      </div>
    </div>
  </header>

  <main>
    <section id="porque-reciclar">
      <div class="reciclar-titulo">
        <h1>POR QUE RECICLAR?</h1>
        <p>O vidro é um material que pode ser utilizado e reutilizado de várias maneiras e também quantas vezes quisermos sem perder 
		 ou desgastar as suas propriedades, ou seja, ele é totalmente reaproveitado em sua reciclagem. 
		 </br>
		 </br>
		 Ele é um dos materiais que tem uma maior importância em se reciclar. Apesar dele não liberar nenhuma substância tóxica no meio ambiente, 
		 sua decomposição é de longa duração (demorando aproximadamente 10 000 anos para se decompor). 
		 O problema disso é que sua presença nos aterros sanitários ocupa um espaço significativo.
         Além do espaço ocupado, também devemos ressaltar que o fato de ser possível reutilizar todo o vidro descartado, torna esse material muito prático, e com a sua reciclagem, a extração dos recursos naturais para a produção de novos vidros diminuiria consideravelmente.
        </p>
      </div>
      <div class="beneficios-titulo">
        <h1>PROCESSOS DE RECICLAGEM</h1>
        <p>O processo para reciclar o vidro após a sua separação e coleta nas casas da população, tem seu início com a separação por suas cores e tipos de vidro descartado. 
		Após essa etapa, o vidro coletado é submetido a uma limpeza para tentar retirar o máximo de impurezas possível (este é um processo muito custoso para as empresas, um dos principais motivos para a reciclagem desse material não ser aderida por todos). 
		Passando da limpeza, vamos para a parte final de tudo, onde os vidros são derretidos e muitas vezes misturados com vidros ‘novos’ para adquirirem um novo destino, como formar uma nova embalagem, ou uma garrafa, etc.
        </p>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-logo">
      <a href="lampadas.html"><img src="../imagens/logo.svg" alt="logo">RECICLAGEM</a>
    </div>
    <div class="footer-direitos">Todos direitos reservados desde 2021</div>
  </footer>
  <script src="../script.js"></script>
</body>
</html>