<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/utils.css">
  <link rel="stylesheet" href="../css/template.css">
  <link rel="shortcut icon" href="../imagens/logo.svg" type="image/x-icon">
  <title>Papéis e papelão</title>
</head>
<body>
  <header>
    <nav>
      <a href="../index.html"><img src="../imagens/logo.svg" alt="logo">RECICLAGEM</a>
        <ul>
          <li><a href="lampadas.html">Vidro</a></li>
          <li><a href="baterias.html">Metal</a></li>
          <li><a href="papeis.html">Papéis e Papelão</a></li>
          <li><a href="plastico.html">Plástico</a></li>
        </ul>
        <div class="icons">
          <img src="../imagens/hambuguer.svg" alt="abrir menu" class="abrir">
          <img src="../imagens/close.svg" alt="fechar menu" class="fechar">
        </div>
    </nav>
    <div id="menu" class="toggle-menu">
      <ul>
        <li><a href="lampadas.html">Vidro</a></li>
        <li><a href="baterias.html">Metal</a></li>
        <li><a href="papeis.html">Papéis e Papelão</a></li>
        <li><a href="plastico.html">Plástico</a></li>
      </ul>
    </div>
    <div class="hero">
      <div class="hero-descricao">
        <h1>RECICLAGEM DE <br> PAPÉIS E PAPELÃO</h1>
      </div>
      <div class="hero-imagem">
        <img src="../imagens/papeis.svg" alt="papéis e papelão">
      </div>
    </div>
  </header>

  <main>
    <section id="porque-reciclar">
      <div class="reciclar-titulo">
        <h1>POR QUE RECICLAR?</h1>
        <p>Assim como qualquer outro tipo de reciclagem, a importância reside principalmente no fato de que se reciclarmos o material,
		vamos conseguir reduzir a quantidade de materiais retirados da natureza, nesse caso em específico, estamos tratando das árvores, 
		já que o papel é produzido com as fibras de celulose encontradas nelas, além disso também temos uma diminuição da utilização de água para a produção de papel reciclado.
		Para produzir uma tonelada de papel desde o início são utilizados 100 mil litros de água, enquanto na produção de papel reciclado gasta-se 2 mil litros.
		</br>
		</br>
		Além da questão da água, devemos considerar também que a produção de papel tem como consequência a produção e liberação de poluentes orgânicos
		nos efluentes, juntamente com alguns resíduos sólidos de difícil degradação.
        </p>
      </div>
      <div class="beneficios-titulo">
        <h1>PROCESSOS DE RECICLAGEM</h1>
        <p>A reciclagem começa após a coleta seletiva, ainda depois da coleta, é necessário separar os papeis coletado entre aqueles que podem e aqueles que não podem ser reciclados. 
		</br>
		</br>
		Aqueles papéis que ainda podem ser reciclados são triturados, e misturados com água, para enfraquecer as fibras. 
		Porém, até esse processo, ainda se encontram misturados vários outros materiais e substâncias que vieram no papel.  
		Para retirar essas impurezas da celulose, primeiro a água com o papel passa por peneiras cada vez mais finas, 
		já as impurezas que não saíram com as peneiras, saem quando se coloca essa mistura em um forno, onde a temperatura fica entre 50º C e 125º C. 
		Por fim, as partículas de colas e tintas que ficam grudadas no papel são retiradas com soda cáustica, assim se finaliza o processo de purificação do material.
		</br>
		</br>
		O resultado do processo acima é uma pasta que ainda pode ser modificada, por exemplo, se quisermos um papel mais branco, 
		podemos colocar a pasta nos refinadores, que melhora as ligações entre as fibras, branqueando o material. 
		Com isso, a pasta é levada para as máquinas produtoras de papel, que passa por um processo muito semelhante a produção de papel normal.
        </p>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-logo">
      <a href="papeis.html"><img src="../imagens/logo.svg" alt="logo">RECICLAGEM</a>
    </div>
    <div class="footer-direitos">Todos direitos reservados desde 2021</div>
  </footer>
  <script src="../script.js"></script>
</body>
</html>