<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/utils.css">
  <link rel="stylesheet" href="../css/template.css">
  <link rel="shortcut icon" href="../imagens/logo.svg" type="image/x-icon">
  <title>Plástico</title>
</head>
<body>
  <header>
    <nav>
      <a href="../index.html"><img src="../imagens/logo.svg" alt="logo">RECICLAGEM</a>
        <ul>
          <li><a href="lampadas.html">Vidro</a></li>
          <li><a href="baterias.html">Metal</a></li>
          <li><a href="papeis.html">Papéis e Papelão</a></li>
          <li><a href="plastico.html">Plástico</a></li>
        </ul>
        <div class="icons">
          <img src="../imagens/hambuguer.svg" alt="abrir menu" class="abrir">
          <img src="../imagens/close.svg" alt="fechar menu" class="fechar">
        </div>
    </nav>
        <div id="menu" class="toggle-menu">
      <ul>
        <li><a href="lampadas.html">Vidro</a></li>
        <li><a href="baterias.html">Metal</a></li>
        <li><a href="papeis.html">Papéis e Papelão</a></li>
        <li><a href="plastico.html">Plástico</a></li>
      </ul>
    </div>
    <div class="hero">
      <div class="hero-descricao">
        <h1>RECICLAGEM DE <br> PLÁSTICO</h1>
      </div>
      <div class="hero-imagem">
        <img src="../imagens/plastico.svg" alt="plactico">
      </div>
    </div>
  </header>

  <main>
    <section id="porque-reciclar">
      <div class="reciclar-titulo">
        <h1>POR QUE RECICLAR?</h1>
        <p>De fato, o plástico nos trouxe muitas vantagens, sendo um material extremamente resistente 
		e também que dura por muitos anos, sendo perfeito para embalagens, sacolas.
		</br>
		</br>
		Todos os pontos positivos que o plástico tem, podem se virar contra nós e se tornarem negativos com o descarte incorreto desse material. 
		Isso pode ocorrer pois o fato dele ser durável e resistente, o torna algo que no ambiente vai demorar anos para se decompor, uma vez que é resistente a fungos e bactérias. 
        Com relação aos impactos que não são provocados pelas suas qualidades, o plástico que é descartado nos oceanos acaba se separando em partículas extremamente pequenas, as quais demos o nome de ‘microplásticos’. 
		Essas partículas acabam por serem ingeridas pelos animais marinhos, e dessa maneira o plástico entra na cadeia alimentar, o que consequentemente afeta toda uma cadeia de animais, chegando até mesmo para nós, humanos. 
		Além disso, o plástico também pode acabar matando os animais ao serem ingeridos.
        </p>
      </div>
      <div class="beneficios-titulo">
        <h1>PROCESSOS DE RECICLAGEM</h1>
        <p>O plástico tem três maneiras de ser reciclado pela indústria sendo elas a reciclagem mecânica, 
		a reciclagem química e a reciclagem energética. Na reciclagem mecânica o plástico que chegou da coleta seletiva é separado novamente de acordo 
		com o seu tipo, depois os plásticos são lavados e separados por característica como a sua densidade. Seguindo esse processo,
		o plástico deve secar primeiro, e então ele é fundido e logo resfriado, seguindo direto para a granuladora, dessa maneira obtemos os grânulos de 
		plásticos que são entregues para as indústrias utilizarem.
		</br>
		</br>
		Na reciclagem energética, o processo utilizado é bem simples, afinal consiste apenas na queima do plástico como forma de obter energia térmica, isso permite a geração de energia elétrica de diversas maneiras.
        Por fim, temos a reciclagem química, cujo o objetivo é tornar o plástico em matéria prima, combustíveis ou insumos químicos com o objetivo de fabricar plástico novamente.
		Este processo  não precisa de nenhum tipo de separação dos plásticos por cor ou tipo, além de aceitar também uma certa quantidade de contaminantes, é realizado por meio de várias reações químicas diferentes, 
		dentre elas podemos citar a hidrogenação, gaseificação, pirólise, quimólise.
        </p>
      </div>
    </section>
  </main>

  <footer>
    <div class="footer-logo">
      <a href="plastico.html"><img src="../imagens/logo.svg" alt="logo">RECICLAGEM</a>
    </div>
    <div class="footer-direitos">Todos direitos reservados desde 2021</div>
  </footer>
  <script src="../script.js"></script>
</body>
</html>